package assets

import (
	"github.com/go-teal/teal/pkg/models"
	"github.com/go-teal/teal/pkg/configs"
	"github.com/go-teal/teal/pkg/processing"
)

var {{ GoName }}ModelDescriptor = &models.RawModelDescriptor{
	Name: 				"{{ ModelName }}",
	Upstreams: []string {
{% for upstream in Upstreams %}
		"{{ upstream }}",
{% endfor %}
	},
	Downstreams: []string {
{% for downstream in Downstreams %}
		"{{ downstream }}",
{% endfor %}
	},
	ModelProfile:  &configs.ModelProfile{
		Name: 				"{{ ModelProfile.Name }}",
		Description: 		`{{ ModelProfile.Description }}`,
		Stage: 				"{{ ModelProfile.Stage }}",
		Connection: 		"{{ ModelProfile.Connection }}",
		Materialization: 	"{{ ModelProfile.Materialization }}",
		IsDataFramed: 		{{ ModelProfile.IsDataFramed|lower }},
		PersistInputs: 		{{ ModelProfile.PersistInputs|lower }},
		Tests: []*configs.TestProfile {
{% for test in ModelProfile.Tests %}
			{
				Name: 			"{{ test.Name }}",
			},
{% endfor %}
		},
	},
}

var {{ GoName }}Asset processing.Asset = processing.InitRawModelAsset({{ GoName }}ModelDescriptor)
