{% set mp = ModelProfile %}
{% set modelName = ModelName %}
package assets

import (
	"github.com/go-teal/teal/pkg/models"
	"github.com/go-teal/teal/pkg/configs"
	"github.com/go-teal/teal/pkg/processing"
)

const RAW_SQL_{{ NameUpperCase }} = `
{{ SqlByteBuffer }}
`

{% if ModelProfile.Materialization == "table" or ModelProfile.Materialization == "incremental" %}
const SQL_{{ NameUpperCase }}_CREATE_TABLE = `
create table {{ ModelName }}
as ({{ SqlByteBuffer }});

{% if PrimaryKeyExpression != "" %}
create unique index {{ ModelProfile.Name }}_pkey on {{ ModelName }} ({{ PrimaryKeyExpression }});
{% endif %}

{% for index in Indexes %}
	{% if index.Unique %}
create unique index {{ mp.Name }}_{{ index.IndexName }}_idx on {{ modelName }} ({{ index.IndexFields }});
	{% else %}
create index {{ mp.Name }}_{{ index.IndexName }}_idx on {{ modelName }} ({{ index.IndexFields }});
	{% endif %}
{% endfor %}

`
const SQL_{{ NameUpperCase }}_INSERT = `
insert into {{ ModelName }} ({{ ModelFieldsFunc }}) ({{ SqlByteBuffer }})
`
const SQL_{{ NameUpperCase }}_DROP_TABLE = `
drop table {{ ModelName }}
`
const SQL_{{ NameUpperCase }}_TRUNCATE = `
delete from {{ ModelName }} where true;
truncate table {{ ModelName }};
`
{% endif %}

{% if ModelProfile.Materialization == "view" %}
const SQL_{{ NameUpperCase }}_CREATE_VIEW = `
create view {{ ModelName }} as ({{ SqlByteBuffer }})
`
const SQL_{{ NameUpperCase }}_DROP_VIEW = `
drop view {{ ModelName }}
`
{% endif %}

var {{ GoName }}ModelDescriptor = &models.SQLModelDescriptor{
	Name: 				"{{ ModelName }}",
	RawSQL: 			RAW_SQL_{{ NameUpperCase }},
{% if ModelProfile.Materialization == "table" or ModelProfile.Materialization == "incremental" %}
	CreateTableSQL: 	SQL_{{ NameUpperCase }}_CREATE_TABLE,
	InsertSQL: 			SQL_{{ NameUpperCase }}_INSERT,
	DropTableSQL: 		SQL_{{ NameUpperCase }}_DROP_TABLE,
	TruncateTableSQL: 	SQL_{{ NameUpperCase }}_TRUNCATE,
{% endif %}
{% if ModelProfile.Materialization == "view" %}
	CreateViewSQL: 		SQL_{{ NameUpperCase }}_CREATE_VIEW,
	DropViewSQL: 		SQL_{{ NameUpperCase }}_DROP_VIEW,
{% endif %}
	Upstreams: []string {
{% for upstream in Upstreams %}
		"{{ upstream }}",
{% endfor %}
	},
	Downstreams: []string {
{% for downstream in Downstreams %}
		"{{ downstream }}",
{% endfor %}
	},
	ModelProfile:  &configs.ModelProfile{
		Name: 				"{{ ModelProfile.Name }}",
		Stage: 				"{{ ModelProfile.Stage }}",
		Connection: 		"{{ ModelProfile.Connection }}",
		Materialization: 	"{{ ModelProfile.Materialization }}",
		IsDataFramed: 		{{ ModelProfile.IsDataFramed }},
		PersistInputs: 		{{ ModelProfile.PersistInputs }},
		Tests: []*configs.TestProfile {
{% for test in ModelProfile.Tests %}
			{
				Name: 			"{{ test.Name }}",
			},
{% endfor %}
		},
	},
}

var {{ GoName }}Asset processing.Asset = processing.InitSQLModelAsset({{ GoName }}ModelDescriptor)
