package modeltests

import (
	"github.com/go-teal/teal/pkg/processing"
)

var ProjectTests = map[string] processing.ModelTesting{
{{- range $tst := .Tests }}
	"{{ $tst.TestName }}":{{$tst.GoName}}SimpleTestCase,
{{- end }}
}