package modeltests

import (
	"github.com/go-teal/teal/pkg/processing"
)

var ProjectTests = map[string] processing.ModelTesting{
{% for tst in Tests %}
	"{{ tst.TestName }}":{{ tst.GoName }}SimpleTestCase,
{% endfor %}
}


